.home-page {
  font-family: "Barlow";
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  margin: 0;
  padding: 0;
}
.banner {
  background-image: url("/mile1-assets/home-banner.png");
  height: 90vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  h3 {
    font-family: "Satisfy";
    color: #fdc913;
  }
}
.icons {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}
.icon-div {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 5px;
  margin: 10px;

  img {
    width: 50px;
    height: auto;
    margin-bottom: 8px;
  }
  p {
    margin: 0;
    font-size: 14px;
  }
}
.home-page h1 {
  font-weight: 300;
  text-align: center;
  color: #faf7f2;
  font-size: 4.5rem;
}
.home-page span {
  display: block;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  background-color: #ce2829;
}

.siparis.buton-div {
  margin: 50px;
}
.siparis-buton {
  background-color: #faf7f2;
  color: #ce2829;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Condensed";
}
.siparis-buton:hover {
  background-color: #e2ded8;
  color: #ee0a2c;
}

.siparisForm-container {
  max-width: 500px;
  margin: 0 auto;
  .divider {
    width: 500px;
    border-top: 1px solid #5f5f5f;
    margin: 10px 0 10px 0;
  }
}

.siparisForm-container h2,
h3 {
  margin: 10px;
}
.pizza-size-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.malzemeler-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.malzeme-label {
  flex-basis: calc(33.33% - 10px); /* 3 malzeme içeren sütunlar */
  margin-bottom: 10px; /* Malzemeler arasındaki boşluk */
  padding: 5px;
}

.malzemeler-container h3 {
  margin-bottom: 5px;
}
.siparisOzeti-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.siparis-toplamı {
  border: 1px solid #5f5f5f;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

.submit-button {
  background-color: #fdc913;
  color: #292929;
  border: none;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #f0bb3e;
}
.submit-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.count-button {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.input-container h3 {
  margin-bottom: 20px;
}

.orderSummary-container {
  font-family: "Barlow";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #ce2829;
  color: #faf7f2;
}
.orderSum-container {
  width: 100vw;
  height: 100vh;
  background-color: #ce2829;
  color: #faf7f2;
  display: flex;
  flex-direction: column;
  align-items: center;

  h5 {
    font-family: "Satisfy";
    color: #fdc913;
    font-size: 1.5rem;
  }
  h1 {
    font-family: "Barlow";
    font-weight: 300;
  }
  .siparis-toplamı {
    border: 1px solid #faf7f2;
    padding: 10px 15px 10px 15 px;
  }
  ul {
    list-style-type: none;
  }
  .divider {
    margin: 20px;
    border-top: 2px solid #faf7f2;
    width: 50vw;
  }
  .total-cont {
    border: 1px solid #faf7f2;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 30px;
    text-align: center;
  }
}

.images-section {
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  margin: 2rem;
}

.ozel-lezzetus {
  background-image: url("/mile2-aseets/cta/kart-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no repeat;
  width: 40vw;
  height: 50vh;
  border-radius: 10px;
  display: flex;
  div {
    color: #faf7f2;
    padding: 20px;
    font-family: "Quattrocento ";
    font-weight: 800;
  }
}
.hackathlon-npm-container {
  width: 40vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hackathlon {
  height: 25vh;
  background-image: url("/mile2-aseets/cta/kart-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  padding: 20px;
  h4 {
    margin-top: 20px;
    font-family: "Roboto Condensed";
    font-weight: 300;

    color: #faf7f2;
  }
}

.npm {
  height: 25vh;
  background-image: url("/mile2-aseets/cta/kart-3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  padding: 20px;
  h5 {
    margin-top: 20px;
    font-family: "Roboto Condensed";
    font-weight: 500;
    color: #292929;
  }
}
.context {
  margin: 50px 20px 100px 20px;
  padding: 20px;
  width: 100vw;
  height: 10vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .first-text {
    font-size: 1.5rem;
    font-family: "Satisfy";
    color: #ce2829;
  }
  .second-text {
    font-size: 2.5rem;
    font-family: "Roboto Condensed";
    color: #292929;
  }
}
.footer {
  justify-content: space-around;
  height: max-content;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: 100%;
  background-color: #292929;
  padding: 30px;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
  color: #faf7f2;
  ul {
    font-family: "Roboto Condensed";
    font-weight: 200;
    list-style-type: none;
  }
  li {
    margin-bottom: 10px;
  }
  h4 {
    font-family: "Roboto Condensed";
    font-weight: 300;
    margin-bottom: 20px;
  }
}
.footer-logo {
  margin: 20px;
}
.instagram-container {
  width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}
.icon-radius {
  margin: 30px;
  display: flex;
  justify-content: space-around;
  width: 100vw;
}
.icon-rad-div {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  gap: 5px;
  margin-bottom: 2rem;
  border: 0;
  border-radius: 100px;
  padding: 5px 25px 5px 25px;
  background-color: white;
}
.bottom-icons-button {
  border-radius: 100px;
}
.bottom-icons-button:hover {
  background-color: #5f5f5f;
}
.card {
  display: flex;
}

.top-icons {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  gap: 5px;
  margin: 0px;
  border: 0;
  border-radius: 100px;
  padding: 5px 25px 5px 25px;
  background-color: white;
}

.aciktim-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto Condensed";
  color: #292929;
  background-color: #fdc913;
  border-radius: 100px;
  display: flex;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  animation: bounce 0.5s cubic-bezier(0.8, 0, 1, 1) infinite alternate;
}
@keyframes bounce {
  100% {
    margin-top: 30px;
  }
}

.food-cards {
  display: flex;
  justify-content: space-around;
}

.food-card {
  font-family: "Roboto Condensed";
  border: 20px;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  h5 {
    padding: 30px;
  }
  img {
    padding: 30px;
  }
}
.card-body {
  display: flex;
  justify-content: space-around;
}

.promotion-container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3 {
    margin: 2rem;
  }
}

.formpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details-section {
  margin: 20px;
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.view-section {
  display: flex;
  align-items: center;
  h6 {
    margin-left: 20px;
  }
}

.errorPage {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ce2829;
  color: #faf7f2;
  h1 {
    margin: 1rem;
  }
}
.form-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #faf7f2;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.image-banner {
  width: 100%;
  max-width: 60vw;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.image-banner img {
  width: 60%;
  height: auto;
  display: block;
  object-fit: cover;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  margin-top: 20px; /* Adjust the spacing between the image and navigation as needed */
}

.nav-container .nav-link {
  color: #5f5f5f;
  transition: color 0.3s ease;
}

.nav-container .nav-link:hover {
  color: #000; /* Hover durumunda renk değişimi */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .image-banner {
    max-width: 80vw;
  }
}

@media (max-width: 480px) {
  .image-banner {
    max-width: 100vw;
  }

  .nav-container {
    margin-top: 10px; /* Adjust the spacing between the image and navigation for smaller screens */
  }
}
